form{
  display: inline-block;
}
input, textarea{
  margin: 5px;
  
}
span{
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
}
#ajax{
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: wheat;
  opacity: .5;
  border: 1px solid brown;
  border-radius: 8px;
  
}